@font-face {
    font-family: 'Arial';
    src: url('../fonts/ARIAL_3.TTF');
}
@font-face {
  font-family: 'Lovelo';
  src: url('../fonts/lovelo.otf');
}
@font-face {
  font-family: 'Stalemate';
  src: url('../fonts/Stalemate-Regular.ttf');
}
@font-face {
  font-family: 'Sweetness';
  src: url('../fonts/Sweetness.ttf');
}